.loginForm {
  &__username {
    height: 112px;
  }
  &__password {
    height: 128px;
  }
}
.item {
  &__error-text {
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    color: #fb6262;
  }
}
