.header {
  &-1 {
    font-weight: 800;
    font-size: 42px;
    line-height: 51px;
    color: #333333;
  }
  &-2 {
    font-weight: bold;
    font-size: 27px;
    line-height: 33px;
    color: #333333;
  }
  &-3 {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
  }
  &-4 {
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #333333;
  }
}
